<div class="h-screen px-4 border-r bg-uirbleu rounded-r-full">
    <nav class="min-h-screen flex flex-col justify-center text-white align-middle">
      <!--Back arrow-->
      <h3 class="absolute top-10 left-3 pl-3 text-sm flex items-center py-2 mb-2 ease-in-out transform  hover:scale-150 delay-200 transition duration-200">
        <a class="hover:text-uirjaune transition duration-200 ease-linear" href="/feed">
        <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="#d0d600" class="bi bi-arrow-bar-left" viewBox="0 0 16 16">
          <path fill-rule="evenodd" d="M12.5 15a.5.5 0 0 1-.5-.5v-13a.5.5 0 0 1 1 0v13a.5.5 0 0 1-.5.5zM10 8a.5.5 0 0 1-.5.5H3.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L3.707 7.5H9.5a.5.5 0 0 1 .5.5z"/>
        </svg>
          </a>
       </h3>
       <!--Home-->
       <h3 class="pl-3 flex items-center py-2 mb-2 ease-in-out transform  transition duration-200 text-uirjaune text-lg">
        Mes workspaces:
       </h3>
       <h3 *ngFor="let club of clubList" class="pl-3 flex items-center py-2 mb-2 ease-in-out transform  transition duration-200 text-blanc text-lg">
        <Button>{{club.nomClub}}</Button>
       </h3>
      </nav>
  </div>

