<div class="h-screen flex flex-col overflow-y-scroll">
    <div class="h-screen grid grid-cols-3">
      <app-publication>
      </app-publication>
      <app-publication>
      </app-publication>
      <app-publication>
      </app-publication>
      <app-publication>
      </app-publication>
      <app-publication>
      </app-publication>
      <app-publication>
      </app-publication>
      <app-publication>
      </app-publication>
      <app-publication>
      </app-publication>
      <app-publication>
      </app-publication>
      <app-publication>
      </app-publication>
      <app-publication>
      </app-publication>
      <app-publication>
      </app-publication>
      <app-publication>
      </app-publication>    
  </div>
</div>