<div class="h-screen bg-blanc flex flex-col overflow-y-scroll">
  <div class="bg-blanc sticky top-0 ">
    <app-searchbar-header ></app-searchbar-header>
  </div>
    <div class="max-h-screen grid grid-cols-3 ">
      <app-publication>
      </app-publication>
      <app-publication>
      </app-publication>
      <app-publication>
      </app-publication>
      <app-publication>
      </app-publication>
      <app-publication>
      </app-publication>
      <app-publication>
      </app-publication>
      <app-publication>
      </app-publication>
      <app-publication>
      </app-publication>
      <app-publication>
      </app-publication>
      <app-publication>
      </app-publication>
      <app-publication>
      </app-publication>
      <app-publication>
      </app-publication>
      <app-publication>
      </app-publication>
      <app-publication>
      </app-publication><app-publication>
      </app-publication><app-publication>
      </app-publication><app-publication>
      </app-publication><app-publication>
      </app-publication><app-publication>
      </app-publication><app-publication>
      </app-publication><app-publication>
      </app-publication><app-publication>
      </app-publication><app-publication>
      </app-publication><app-publication>
      </app-publication><app-publication>
      </app-publication><app-publication>
      </app-publication><app-publication>
      </app-publication><app-publication>
      </app-publication><app-publication>
      </app-publication><app-publication>
      </app-publication><app-publication>
      </app-publication><app-publication>
      </app-publication>
  </div>
</div>
